.popup {
    width: 100%;
    height: 100%;
  
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 1;
  
    background: rgba(255, 255, 255, 0.7);
  
    display: flex;
    justify-content: center;
  
  }
  
  .popup-body {
    margin-top: 2rem;
    width: 85%;
    height: 75%;
    border-radius: 5px;
    box-shadow: 0 10px 15px -6px black;
    background: #EDF7F5;
  
  }
  
  .popup-contant {
    margin: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
  }
  
  .far.fa-window-close {
    margin: 10px;
    font-size: 2.5rem;
  }
  
  .far.fa-window-close:hover {
    cursor: pointer;
    position: relative;
    top: -3px;
  }
  
  .btns-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  button {
    width: 10rem;
    background: none;
    border-radius: 10px;
    margin: 20px 20px 0 20px;
  }
  
  h1,h2,h3 {
    color: #FF8984;
  }
  
  .btn-cancel {
    border: #ec4d48 solid 3px;
  }

  .btn-cancel>h1 {
    color: #ec4d48;
  }

  .btn-disabled {
    color: #B7D7D8;
    border: #B7D7D8 solid 3px;
  }

  .btn-disabled >*{
    color: #B7D7D8;
  }
  
  
  .btn-edit {
    color: #204E5F;
    border: #204E5F solid 3px;
  }
  
  .btn-edit>h1 {
    color: #204E5F;
  }
  
  .btn-cancel:hover,
  .btn-edit:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px -10px black;
    position: relative;
    top:2px;
  }

.error {
  color: #ec4d48;
}

input.ng-dirty.ng-touched.ng-invalid {
  border-color: #ec4d48;
}

.form-item {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item label>h2 {
  margin-top: 10px;
}
  
.form-input {
  width: 80%;
  height: 2.5rem;
  border-radius: 10px;
  padding-left: 5px;
  border: #204E5F solid 3px;
  margin:5px;
}