<div class="popup">
  <div class="popup-body">
    <i class="far fa-window-close" (click)="closePopUp()"></i>
    <form [formGroup]="movieForm" (ngSubmit)="edit_movie()" class="popup-contant">

      <h1>Edit Movie:</h1>

      <div class="form-item">
        <label for="Title">
          <h2>Movie Title:</h2>
        </label>
        <input type="text" name="Title" formControlName="Title" class="form-input" (change)="check_title()" (keydown)="check_title()">
      </div>
      <div *ngIf="movieForm.controls.Title.touched && movieForm.controls.Title.invalid" class="error">
        <div *ngIf="movieForm.controls.Title.errors?.required">
          Movie Title is required
      </div>
        <div *ngIf="movieForm.controls.Title.errors?.forbiddenName">
          Movie name alredy exist
      </div>
      </div>

      <div class="form-item">
        <label for="Year">
          <h2>Release Year:</h2>
        </label>
        <input type="number" name="Year" formControlName="Year" class="form-input">
      </div>
      <div *ngIf="movieForm.controls.Year.touched && movieForm.controls.Year.invalid" class="error">
          <div *ngIf="movieForm.controls.Year.errors?.required">
              Relaese Year is required
          </div>
          <div *ngIf="movieForm.controls.Year.errors?.min">
              Year to small - need to be at least {{ movieForm.controls.Year.errors?.min.min }}
          </div>
          <div *ngIf="movieForm.controls.Year.errors?.max">
              Year to big -need to be at most {{ movieForm.controls.Year.errors?.max.max }}
          </div>
      </div>

      <div class="form-item">
        <label for="Runtime">
          <h2>Runtime:</h2>
        </label>
        <input type="text" name="Runtime" formControlName="Runtime" class="form-input">
      </div>
      <div *ngIf="movieForm.controls.Runtime.touched && movieForm.controls.Runtime.invalid" class="error">
        Runtime is required
      </div>

      <div class="form-item">
        <label for="Genre">
          <h2>Genre:</h2>
        </label>
        <input type="text" name="Genre" formControlName="Genre" class="form-input">
      </div>
      <div *ngIf="movieForm.controls.Genre.touched && movieForm.controls.Genre.invalid" class="error">
        Genre is required
      </div>

      <div class="form-item">
        <label for="Director">
          <h2>Director:</h2>
        </label>
        <input type="text" name="Director" formControlName="Director" class="form-input">
      </div>
      <div *ngIf="movieForm.controls.Director.touched && movieForm.controls.Director.invalid" class="error">
        Director is required
      </div>

      <div class="btns-container">
        <button type="submit" [className]=" movieForm.valid ? 'btn-edit' : 'btn-disabled'" [disabled]="movieForm.invalid">
          <h1>Save</h1>
        </button>
        <button class="btn-cancel" (click)="closePopUp()">
          <h1>Cancel</h1>
        </button>
      </div>

    </form>
  </div>
</div>
