#movies_container {
  width: 100%;
  margin-top: 6rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.far.fa-plus-square {
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;

  position: fixed;
  top: 1rem;
  left: 85%;
  margin: 0 12px;
  z-index: 999;
  color: #EDF7F5
}

.far.fa-plus-square:hover {
  cursor: pointer;
  top: .8rem;
}