<div class="movie">
    <img [src]="movie.Poster" [alt]="movie.Title">
    <div class="movie_info">
        <h2>{{ movie.Title }}</h2>
        <div class="icons_container">
            <i class="fas fa-info-circle" (click)="showPopUp('i')"></i>
            <i class="fas fa-trash" (click)="showPopUp('d')"></i>
            <i class="fas fa-pencil-alt" (click)="showPopUp('e')"></i>
        </div>
    </div>
</div>

<info-popup [movie]="movie" *ngIf="popupType==='i'" (closeEvent)="closePopUp()"></info-popup>
<delete-popup [movie]="movie" *ngIf="popupType==='d'" (closeEvent)="closePopUp()" (refreshEvent)="refreshPage()"></delete-popup>
<edit-popup [movie]="movie" *ngIf="popupType==='e'" (closeEvent)="closePopUp()" (refreshEvent)="refreshPage()"></edit-popup>


